[core]
	editor = vim
	pager = bat
[diff]
        renames = copies

[pull]
        rebase = true
[merge]
        conflictstyle = diff3

[rerere]
        enabled = yes
[stash]
        showPatch = true
[status]
        showStash = true
[submodule]
        fetchJobs = 0

[man]
	viewer = catman
[man "catman"]
	cmd = man -P \"col -b\"

[includeIf "gitdir:~/workspace/ringle/"]
    path = ~/workspace/ringle/.gitconfig

[includeIf "gitdir:~/workspace/hyokkkk_personal/"]
    path = ~/workspace/hyokkkk_personal/.gitconfig

